<!-- start page title -->
<section class="parallax py-0" data-parallax-background-ratio="0.5"
    style="background-image:url('../../../assets/images/img/sections-bg/bg-1.jpg');">
    <div class="opacity-extra-medium bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row align-items-stretch justify-content-center small-screen">
            <div
                class="col-12 position-relative page-title-extra-small text-center d-flex align-items-center justify-content-center flex-column">
                <h2
                    class="text-white alt-font font-weight-500 center-col letter-spacing-minus-1px line-height-50 sm-line-height-45 xs-line-height-30 no-margin-bottom">
                    {{'Standard Checks & Tests for MDB, SMDB, DB & Motor Control Center' | translate}}
                </h2>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->
<section class="wow animate__fadeIn py-5" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row align-items-center justify-content-center">
           
            <div class="col-12 mt-2  wow animate__fadeIn" data-wow-delay="0.2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
              
                <p>
                    {{'standard practice installer or contractor' |  translate}}
                </p>

                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-12 col-lg-5 col-md-9 md-margin-7-rem-bottom">
                            <ul class="p-0 list-style-02 margin-2-rem-top margin-3-rem-bottom">
                                <li class="margin-15px-bottom"><i
                                        class="feather icon-feather-arrow-right-circle text-large text-fast-blue margin-10px-right"
                                        aria-hidden="true"></i><span class="text-extra-dark-gray alt-font">{{'High voltage power frequency tests' | translate}}</span>
                                </li>
                                <li class="margin-15px-bottom"><i
                                        class="feather icon-feather-arrow-right-circle text-large text-fast-blue margin-10px-right"
                                        aria-hidden="true"></i><span class="text-extra-dark-gray alt-font">{{'Dielectric/insulation resistance tests' | translate}}</span>
                                </li>
                                <li class="margin-15px-bottom"><i
                                        class="feather icon-feather-arrow-right-circle text-large text-fast-blue margin-10px-right"
                                        aria-hidden="true"></i><span class="text-extra-dark-gray alt-font">{{'Ground fault tests' | translate}}</span>
                                </li>
                                <li class="margin-15px-bottom"><i
                                        class="feather icon-feather-arrow-right-circle text-large text-fast-blue margin-10px-right"
                                        aria-hidden="true"></i><span class="text-extra-dark-gray alt-font">{{'Electrical operation of circuit breakers' | translate}}</span>
                                </li>
                                <li class="margin-15px-bottom"><i
                                        class="feather icon-feather-arrow-right-circle text-large text-fast-blue margin-10px-right"
                                        aria-hidden="true"></i><span class="text-extra-dark-gray alt-font">{{'Mechanical operations tests' | translate}}</span>
                                </li>
                                <li class="margin-15px-bottom"><i
                                        class="feather icon-feather-arrow-right-circle text-large text-fast-blue margin-10px-right"
                                        aria-hidden="true"></i><span class="text-extra-dark-gray alt-font">{{'Primary injection tests' | translate}}</span>
                                </li>
                                <li class="margin-15px-bottom"><i
                                        class="feather icon-feather-arrow-right-circle text-large text-fast-blue margin-10px-right"
                                        aria-hidden="true"></i><span class="text-extra-dark-gray alt-font">{{'Secondary injection tests' | translate}}</span>
                                </li>
                                <li class="margin-15px-bottom"><i
                                        class="feather icon-feather-arrow-right-circle text-large text-fast-blue margin-10px-right"
                                        aria-hidden="true"></i><span class="text-extra-dark-gray alt-font">{{'Milli volt drop tests' | translate}}</span>
                                </li>
            
                            </ul>
                        </div>
                        <div class="col-12 col-lg-7 col-md-9 padding-55px-lr md-padding-5px-left sm-padding-50px-right margin-35px-bottom text-center">
                            <figure class="image-back-offset-shadow position-right ">
                                <img class="border-radius-6px" src="../../../assets/images/img/testing-commissioning.webp" alt="" />
                                <span class="bg-gradient-light-purple-light-orange border-radius-6px overlay"></span>
                            </figure>
                        </div>
                    </div>
                </div>
                
                <h5 class="alt-font text-extra-dark-gray font-weight-500">
                    {{'Following tests shall be carried out' | translate}}
                </h5>
                <p>{{'Power frequency voltage tests on the completed switchgear.' | translate}}</p>
                <p>{{'Insulation resistance tests on all main and secondary circuits.' | translate}}</p>
                <p>{{'Secondary injection tests.' | translate}}</p>
                <p>{{'Calibration checks on ammeters, voltmeters and any other instruments.' | translate}}</p>
                <p>
                    {{'Testing at normal voltage to prove' | translate}}
                </p>
                <h5 class="alt-font text-extra-dark-gray font-weight-500">{{'Protective Measures check/Electrical continuity of protective circuits' | translate}}</h5>
                <p class="alt-font text-extra-dark-gray">{{'Capacity and continuity between:' | translate}}</p>

                <p>{{'All metal parts and main earth bar.' | translate}}</p>
                <p>{{'Door and main earth bar.' | translate}}</p>
                <p>{{'Continuity test according to control circuit diagram.' | translate}}</p>
                <p>{{'Checking of indicator lamps (with transformers), voltmeter etc..' | translate}}</p>
                <p>{{'Outgoing circuits check with hand lamp.' | translate}}</p>

                <h5 class="alt-font text-extra-dark-gray font-weight-500">
                    {{'Visual / Physical Checks' | translate}}
                </h5>
                <p>{{'Check general arrangements of the components' | translate}}</p>
                <p>{{'Check the panel against' | translate}}</p>
                <p>{{'Check the tray riser' | translate}}</p>
                <p>{{'Check all the bolts / nuts' | translate}}</p>

                <p>{{'Check earth bonding of components and other related connection.' | translate}}</p>
                <p>{{'Check all meters and selector switches to ensure the correct selection & rating.' | translate}}</p>
                <p>{{'Check the phase barriers are properly fixed for separation of circuits.' | translate}}</p>
                <p>{{'Check all cables and panels are properly labelled and identified.' | translate}}</p>

                <h5 class="alt-font text-extra-dark-gray font-weight-500">
                    {{'Insulation Resistance Check' | translate}}
                </h5>
                <p>{{'Check and measure insulation resistance' | translate}}</p>
            
                <h5 class="alt-font text-extra-dark-gray font-weight-500">
                    {{'Functional Test (Panel to be temporarily energized)' | translate}}
                </h5>
                <p>{{'Check the control circuit of each system for its correct operation.' | translate}}</p>
                <p>{{'Switch ON and OFF of all MCCBs' | translate}}</p>
                <p>{{'Check draw out mechanism of main incomer ACB.' | translate}}</p>
                <p>{{'Check operation of the indication lamps' | translate}}</p>
                <p>{{'Check functions of motor operated ACB/MCCBs' | translate}}</p>
                <p>{{'Check for any abnormal rise in temperature' | translate}}</p>

                <h5 class="alt-font text-extra-dark-gray font-weight-500">
                    {{'Earth Leakage Testing' | translate}}
                </h5>
                <p>{{'Check earth leakage circuit breakers' | translate}}</p>
                <p>{{'Check the rating of core balance' | translate}}</p>
                <p>{{'Tabulate the readings taken.' | translate}}</p>

                <h5 class="alt-font text-extra-dark-gray font-weight-500">
                    {{'Earth Fault Loop Impedance Test' | translate}}
                </h5>
                <p>{{'Measure the earth loop impedance' | translate}}</p>
                <p>{{'Tabulate the reading taken and check with permissible values.' | translate}}</p>

                <h5 class="alt-font text-extra-dark-gray font-weight-500">
                    {{'Polarity Test' | translate}}
                </h5>
                <p>
                    {{'Check the polarity of incomer supply' | translate}}
                </p>

                <h5 class="alt-font text-extra-dark-gray font-weight-500">
                    {{'Test on Capacitor Panels' | translate}}
                </h5>
                <p>{{'Check the operation and indications' | translate}}</p>
                <p>{{'Check the operation and indications of contactors in auto mode' | translate}}</p>


                <h6 class="alt-font text-center text-primary font-weight-700">{{'Overall Performance Test' | translate}}</h6>


            </div>
        </div>
    </div>
</section>

