<!-- sign-up -->

<!-- start section -->
<section class="wow animate__fadeIn">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-xl-5 col-md-6 lg-padding-30px-lr md-padding-15px-lr sm-margin-40px-bottom">
        <img src="../../../assets/images/img/login-register.jpeg" alt="">
      </div>
      <div class="col-12 col-xl-5 offset-xl-1 col-md-6 lg-padding-30px-lr md-padding-15px-lr">
        <form [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)"
          class="border-all border-color-medium-gray rounded margin-35px-bottom padding-4-rem-all lg-margin-35px-top md-padding-2-half-rem-all">

          <input class="small-input rounded bg-white margin-20px-bottom required" type="text"
            formControlName="first_name" placeholder="First Name">
          <div class="text-red" *ngIf="registerForm.get('first_name') && registerForm.get('first_name')?.touched">
            <p *ngIf="registerForm.get('first_name')?.getError('required')">first name is required.</p>
            <p *ngIf="registerForm.get('first_name')?.getError('minlength')">min length 3.</p>
            <p *ngIf="registerForm.get('first_name')?.getError('maxlength')">max length 10.</p>
          </div>

          <input class="small-input rounded bg-white margin-20px-bottom required" type="text"
            formControlName="last_name" placeholder="Last Name">
          <div class="text-red" *ngIf="registerForm.get('last_name') && registerForm.get('last_name')?.touched">
            <p *ngIf="registerForm.get('last_name')?.getError('required')">last name is required.</p>
            <p *ngIf="registerForm.get('last_name')?.getError('minlength')">min length 3.</p>
            <p *ngIf="registerForm.get('last_name')?.getError('maxlength')">max length 10.</p>
          </div>

          <input class="small-input rounded bg-white margin-20px-bottom required" type="number" formControlName="age"
            placeholder="Age">
          <div class="text-red" *ngIf="registerForm.get('age') && registerForm.get('age')?.touched">
            <p *ngIf="registerForm.get('age')?.getError('required')">age is required.</p>
          </div>

          <input class="small-input rounded bg-white margin-20px-bottom required" type="email" formControlName="email"
            placeholder="email">
          <div class="text-red" *ngIf="registerForm.get('email') && registerForm.get('email')?.touched">
            <p *ngIf="registerForm.get('email')?.getError('required')">email is required.</p>
            <p *ngIf="registerForm.get('email')?.getError('email')">email not match. <br> example@gmail.com</p>
          </div>

          <input class="small-input rounded bg-white margin-20px-bottom required" type="password"
            formControlName="password" placeholder="password">
          <div class="text-red" *ngIf="registerForm.get('password') && registerForm.get('password')?.touched">
            <p *ngIf="registerForm.get('password')?.getError('required')">password is required.</p>
            <p *ngIf="registerForm.get('password')?.getError('minlength')">password min length 8.</p>
            <p *ngIf="registerForm.get('password')?.getError('maxlength')">password max length 16.</p>
          </div>

          <button [disabled]="registerForm.invalid" type="submit"
            class="btn btn-medium btn-gradient-purple-magenta w-100 submit" id="signupBtn">Register</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- end section -->