<!-- start section -->
<section class="big-section vh-100 bg-light-gray">
    <div class="container">
        <div class="row justify-content-center">
            <!-- start Quizzes item -->
            <div class="col-12 col-lg-4 col-md-9 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn">
                <div class="feature-box text-start box-shadow-large box-shadow-double-large-hover bg-white padding-4-rem-all lg-padding-3-rem-all md-padding-4-half-rem-all">
                    <div class="feature-box-content w-100">
                        <span class="margin-15px-bottom d-block text-extra-medium">01</span>
                        <h6 class="alt-font font-weight-600 d-block text-extra-dark-gray">English</h6>
                        <div class="h-1px bg-medium-gray margin-25px-bottom w-100"></div>
                        <a class="text-small font-weight-500 text-uppercase alt-font d-block text-extra-dark-gray" [routerLink]="['/quiz-categories', 'en']">More info<i class="feather icon-feather-arrow-right icon-extra-small float-end"></i></a>
                    </div>
                    <div class="feature-box-overlay bg-white"></div>
                </div>
            </div>
            <!-- end Quizzes item -->
            <!-- start Quizzes item -->
            <div class="col-12 col-lg-4 col-md-9 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                <div class="feature-box text-start box-shadow-large box-shadow-double-large-hover bg-white padding-4-rem-all lg-padding-3-rem-all md-padding-4-half-rem-all">
                    <div class="feature-box-content w-100">
                        <span class="margin-15px-bottom d-block text-extra-medium">02</span>
                        <h6 class="alt-font font-weight-600 d-block text-extra-dark-gray">Computer Science</h6>
                        <div class="h-1px bg-medium-gray margin-25px-bottom w-100"></div>
                        <a class="text-small font-weight-500 text-uppercase alt-font d-block text-extra-dark-gray" [routerLink]="['/quiz-categories', 'cs']">More info<i class="feather icon-feather-arrow-right icon-extra-small float-end"></i></a>
                    </div>
                    <div class="feature-box-overlay bg-white"></div>
                </div>
            </div>
            <!-- end Quizzes item -->
        </div>
    </div>
</section>
<!-- end section -->