<!-- start header -->
<header>
  <nav
    class="navbar navbar-expand-lg navbar-boxed navbar-light bg-white header-light fixed-top header-reverse-scroll py-0">
    <div class="container-lg nav-header-container d-flex align-items-center">
      <div class="col-6 col-lg-2 me-auto ps-lg-0">
        <a class="navbar-brand" routerLink="/">
          <img src="../../../../assets/images/img/logo-black.png" class="default-logo" alt="">
          <img src="../../../../assets/images/img/logo-white.png" class="alt-logo" alt="">
          <img src="../../../../assets/images/img/logo-black.png" class="mobile-logo" alt="">
        </a>
      </div>
      <div class="col-auto col-lg-8 menu-order px-lg-0">
        <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-label="Toggle navigation">
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
        </button>
        <div class=" collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav alt-font">


            <li *ngIf="isLogin" data-wow-duration=".2s" class="nav-item animate__animated animate__fadeInDown"
              data-wow-offset="0" data-wow-delay="0.2s">
              <a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}" class="nav-link">
                <i class="solid-icon-Home dropdown-toggle"></i>
                Home
              </a>
            </li>

            <li *ngIf="isLogin" data-wow-duration=".2s"
              class="nav-item animate__animated animate__delay-3s animate__fadeInDown" data-wow-offset="0"
              data-wow-delay="0.4s">
              <a routerLinkActive="active" routerLink="/about" class="nav-link">
                About us
              </a>
            </li>

            <li *ngIf="isLogin" data-wow-duration=".2s"
              class="nav-item animate__animated animate__delay-3s animate__fadeInDown" data-wow-offset="0"
              data-wow-delay="0.6s">
              <a routerLinkActive="active" routerLink="/quizzes" class="nav-link">
                Our Exams Categories
              </a>
            </li>


          </ul>
        </div>
      </div>
      <div class="col-auto col-lg-2 text-end pe-0 font-size-0">
        <ul class="navbar-nav alt-font">

          <!-- start menu item -->
          <li *ngIf="!isLogin" data-wow-duration=".2s"
            class="nav-item animate__animated animate__delay-3s animate__fadeInDown" data-wow-offset="0"
            data-wow-delay="0.2s"><a routerLinkActive="active" routerLink="/sign-in" class="nav-link">signIn</a>
          </li>
          <!-- end menu item -->
          <!-- start menu item -->
          <li *ngIf="!isLogin" data-wow-duration=".2s"
            class="nav-item animate__animated animate__delay-3s animate__fadeInDown d-flex align-items-center"
            data-wow-offset="0" data-wow-delay="0.4s"><a routerLink="/sign-up"
              class="btn btn.btn-extra-large rounded btn-gradient-purple-magenta py-2">Register</a></li>
          <!-- end menu item -->

          <li *ngIf="isLogin" data-wow-duration=".2s"
            class="nav-item animate__animated animate__delay-4s animate__fadeInDown d-flex align-items-center"
            data-wow-offset="0" data-wow-delay="0.8s">
            <a routerLinkActive="text-radical-red" (click)="logOut();"
              class="btn btn.btn-medium mx-3 mx-xl-0 btn-fast-blue btn-rounded py-2 px-3">
              logOut
            </a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>
<!-- end header -->